@import 'colors';

.header {
  background: $snow;
  border-top: 5px solid $slate;
  border-bottom: 1px solid $charcoal;
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 0 48px;
}

.logo {
  margin: 0;
}

.links {
  margin-top: 16px;
  & a {
    color: $slate;
    font-size: medium;
    margin-right: 16px;
  }
}
