.header {
  background: rgb(254, 254, 254);
  border-top: 5px solid darkslategray;
  border-bottom: 1px solid rgb(225, 225, 225);
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 0 48px;
}

.logo {
  margin: 0;
}

.links {
  margin-top: 16px;
  & a {
    color: slategray;
    font-size: medium;
    margin-right: 16px;
  }
}
